@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Oswald&display=swap');
*{
    margin: 0;
    padding: 0;
}
.catalog_items a{
    text-decoration: none;
    color: black;
}
.slider_mid a{
    text-decoration: none;
    color: black;
}
.menu_item a{
    text-decoration: none;
    color: white;
}
.container{
    margin: auto;
    width: 1110px;
}
.first_screen{
    margin: auto;
    background-image: url(images/фон.png);
    height: 800px;
    max-width: 1920px;
}
.menu__first_screen{
    margin-top: 20px;
    display: flex;
    list-style-type: none;
    margin-left: 555px;
}
.menu_item{
    font-family: "Open Sans";
    font-size: 14px;
    color: white;
    margin-left: 28px;
}
.top_menu{
    padding-top: 11px;
    padding-bottom: 11px;
    display: flex;
    background-color: rgba(0, 91, 193, 0.6)
}
.logo{
    max-width: 140px;
    margin-left: 40px;
}
.first_screen_title{
    color: white;
    font-family: "Oswald";
    font-weight: lighter;
    font-size: 48px;
    margin-bottom: 40px;
}
.first_screen_text{
    font-size: 16px;
    color: white;
    font-family: "open sans";
    margin-bottom: 40px;
}
.first_screen_button{
    background-color: rgba(0, 91, 193, 0);
    width: 160px;
    height: 51px;
    border: 2px solid white;
}
.first_screen_button a{
    color: white;
    text-decoration: none;
}
.first_screen_content{
    position: absolute;
    margin-left: 595px;
    margin-top: 202px;
}
.first_screen_column{
    background-color: rgba(0, 91, 193, 0.6);
    height: 720px;
    width: 444px;
    position:absolute;
    top: 80px;
    margin-left: 405px;
}
.slider_top{
    display: flex;
    align-items: center;
}
.slider_button1{
    margin-left: auto;
    border: 0px;
    background-color: rgba(0, 91, 193, 0);
}
.slider_button2{
    border: 0px;
    background-color: rgba(0, 91, 193, 0);
}
.slider{
    margin-top: 150px;
}
.slider_logo{
    margin-right: 40px;
}
.slider_title{
    font-family: "oswald";
    font-weight: lighter;
}
.slider_slide2{
    margin-left: 30px;
}
.slider_image1{
    margin-top: 70px;
    width: 540px ;
    height: 400px ;
}
.slider_image2{
    margin-top: 70px;
    width: 540px ;
    height: 400px ;
}
.slider_mid{
    display: flex;
}
.slider_text{
    width: 250px;
    height: 120px;
    background-color: white;
    position: relative;
    top: -150px;
    left: 260px;
}
.slider_text h3{
    font-family: "oswald";
    font-size: 18px;
    margin-left: 25px;
    padding-top: 20px;
}
.slider_text p{
    font-family: "open sans";
    font-size: 14px;
    margin-left: 25px;
    margin-top: 14px;
}
.footer{
    margin-top: 100px;
    height: 255px;
    background-color: rgba(0, 91, 193, 1);
}
.catalog_top{
    margin-bottom: 70px;
    display: flex;
    align-items: center;
}
.catalog_logo{
    margin-right: 40px;
}
.catalog_title{
    font-family: "oswald";
    font-weight: lighter;
}
.catalog_items{
    width: 211px;
    height: 41px;
    display: flex;
    margin: auto;
}
.item{
    font-family: "oswald";
    font-size: 24px;
    margin-right: 47px;
}
.item:hover{
    color: rgba(0, 91, 193, 1);
    text-decoration: underline;
}
.catalog_block img{
    width: 350px;
    height: 300px;
}
.catelog_mid{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.catalog_text{
    position: relative;
    background-color: rgba(0, 91, 193, 1);
    height: 86px;
    width: 265px;
    left: 83px;
    bottom: 110px;
}
.first_text{
    text-transform:uppercase;
    padding-top: 15px;
    padding-left: 21px;
    font-family: "oswald";
    font-weight: lighter;
    font-size: 18px;
    color: white;
}
.second_text{
    text-transform:uppercase;
    padding-top: 30px;
    padding-left: 21px;
    font-family: "oswald";
    font-weight: lighter;
    font-size: 18px;
    color: white;
}
.third_text{
    text-transform:uppercase;
    padding-top: 30px;
    padding-left: 21px;
    font-family: "oswald";
    font-weight: lighter;
    font-size: 18px;
    color: white;
}
